a, .gs-action {
  color: var(--gsColorActionFG);
  font-weight: var(--gsFontWeightBold);
  text-decoration: none;
}

a:hover, .gs-action:hover {
  color: var(--gsColorActionFocusFG);
  cursor: pointer;
  text-decoration: underline;
}

a[disabled], .gs-action[disabled] {
  color: var(--gsColorActionDisabledFG);
  cursor: default;
}

h1 {
  font-size: 3rem;
  font-weight: var(--gsFontWeightLight);
}

h2 {
  font-size: 2rem;
  font-weight: var(--gsFontWeightNormal);
  line-height: 3rem;
}

h3 {
  font-size: 1.5rem;
}

h1, h2, h3 {
  color: var(--gsColorHeaderFG);
}

code {
  background-color: var(--gsColorPassivePrimaryBG);
  border-radius: .4rem;
  font-family: var(--gsFontFamilyCode);
  padding: .2rem;
}

fieldset {
  border: 2px solid var(--gsColorActionFG);
  padding: 1rem 1rem 2rem 1rem;
}

fieldset:hover, fieldset:focus {
  border-color: var(--gsColorActionFocusFG);
}

legend {
  color: var(--gsColorActionFG);
}

fieldset:hover > legend, fieldset:focus > legend {
  color: var(--gsColorActionFocusFG);
}

/* Table styling */
table {
  border-collapse: collapse;
  font-size: var(--gsFontSizeRoot);
}

table tr:nth-child(2n) {
  background-color: var(--gsColorPassivePrimaryBG);
}

td {
  border: 1px solid var(--gsColorHeaderFG);
  padding: .5rem;
}

/* Layouts */
[layout] {
  display: flex;
}

[layout="row"] {
  flex-direction: row;
}

[layout="column"] {
  flex-direction: column;
}

[flex] {
  flex: 1;
}

[flex-wrap] {
  flex-wrap: wrap;
}

[flex-justify="flex-start"] {
  justify-content: flex-start;
}

[flex-justify="flex-end"] {
  justify-content: flex-end;
}

[flex-justify="center"] {
  justify-content: center;
}

[flex-justify="space-between"] {
  justify-content: space-between;
}

[flex-justify="space-around"] {
  justify-content: space-around;
}

[flex-align="flex-start"] {
  align-items: flex-start;
}

[flex-align="flex-end"] {
  align-items: flex-end;
}

[flex-align="center"] {
  align-items: center;
}

[flex-align="stretch"] {
  align-items: stretch;
}

[flex-align="baseline"] {
  align-items: baseline;
}

[fill-parent] {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

[hidden] {
  display: none;
}

/* Theming */
[gs-spacing="compact"] {
  --gsSizePadding: .4rem;
}

[gs-theme="normal"],
[gs-theme="normal"][gs-highlight],
[gs-theme="invert"],
[gs-theme="invert"][gs-highlight] {
  --gsColorAccent: var(--gsThemeAccent);

  color: var(--gsColorPassiveFG);
  background-color: var(--gsColorPassiveBG);
}

.gs-secondary {
  color: var(--gsColorSecondaryFG);
}

[gs-theme="normal"] {
  --gsColorPassiveBG: var(--gsThemeWhite);
  --gsColorPassiveFG: var(--gsThemeBlack);
  --gsColorHeaderFG: var(--gsThemeBaseNormalDark);
  --gsColorPassivePrimaryBG: var(--gsThemeBaseNormalLightest);
  --gsColorSecondaryFG: var(--gsThemeBlackFade);
  --gsColorActionBG: var(--gsThemeWhite);
  --gsColorActionFG: var(--gsThemeActionNormalDark);
  --gsColorActionFocusFG: var(--gsThemeAccent);
  --gsColorActionDisabledFG: var(--gsThemeBlackFader);
  --gsColorActionPrimaryBG: var(--gsThemeActionNormalLight);
  --gsColorActionPrimaryFG: var(--gsThemeBlack);
  --gsColorActionPrimaryFocusBG: var(--gsThemeAccent);
  --gsColorActionPrimaryFocusFG: var(--gsThemeBlackOnAccent);
  --gsColorActionPrimaryDisabledBG: var(--gsThemeWhite);
  --gsColorActionPrimaryDisabledFG: var(--gsThemeBlackFade);
  --gsColorReverseMode: false;
  --gsColorHighlightMode: false;
}

[gs-theme="normal"][gs-highlight] {
  --gsColorPassiveBG: var(--gsThemeBaseNormalDark);
  --gsColorPassiveFG: var(--gsThemeWhite);
  --gsColorHeaderFG: var(--gsThemeBaseReversedLightest);
  --gsColorPassivePrimaryBG: var(--gsThemeBaseReversedDarkest);
  --gsColorSecondaryFG: var(--gsThemeWhiteFade);
  --gsColorActionBG: var(--gsThemeBaseNormalDark);
  --gsColorActionFG: var(--gsThemeActionReversedLight);
  --gsColorActionFocusFG: var(--gsThemeAccent);
  --gsColorActionDisabledFG: var(--gsThemeWhiteFader);
  --gsColorActionPrimaryBG: var(--gsThemeActionReversedDark);
  --gsColorActionPrimaryFG: var(--gsThemeWhite);
  --gsColorActionPrimaryFocusFG: var(--gsThemeBlackOnAccent);
  --gsColorActionPrimaryFocusBG: var(--gsThemeAccent);
  --gsColorActionPrimaryDisabledBG: var(--gsThemeBaseNormalDark);
  --gsColorActionPrimaryDisabledFG: var(--gsThemeWhiteFade);
  --gsColorReverseMode: true;
  --gsColorHighlightMode: true;
}

[gs-theme="invert"] {
  --gsColorPassiveBG: var(--gsThemeBlack);
  --gsColorPassiveFG: var(--gsThemeWhite);
  --gsColorHeaderFG: var(--gsThemeBaseReversedLightest);
  --gsColorPassivePrimaryBG: var(--gsThemeBaseReversedDark);
  --gsColorSecondaryFG: var(--gsThemeWhiteFade);
  --gsColorActionBG: var(--gsThemeBlack);
  --gsColorActionFG: var(--gsThemeActionReversedLight);
  --gsColorActionFocusFG: var(--gsThemeAccent);
  --gsColorActionDisabledFG: var(--gsThemeWhiteFader);
  --gsColorActionPrimaryBG: var(--gsThemeActionReversedDark);
  --gsColorActionPrimaryFG: var(--gsThemeWhite);
  --gsColorActionPrimaryFocusBG: var(--gsThemeAccent);
  --gsColorActionPrimaryFocusFG: var(--gsThemeBlackOnAccent);
  --gsColorActionPrimaryDisabledBG: var(--gsThemeBlack);
  --gsColorActionPrimaryDisabledFG: var(--gsThemeWhiteFade);
  --gsColorReverseMode: true;
  --gsColorHighlightMode: false;
}

[gs-theme="invert"][gs-highlight] {
  --gsColorPassiveBG: var(--gsThemeBaseReversedLightest);
  --gsColorPassiveFG: var(--gsThemeBaseNormalDarkest);
  --gsColorHeaderFG: var(--gsThemeBlack);
  --gsColorPassivePrimaryBG: var(--gsThemeBaseNormalLightest);
  --gsColorSecondaryFG: var(--gsThemeBlackFade);
  --gsColorActionBG: var(--gsThemeBaseReversedLightest);
  --gsColorActionFG: var(--gsThemeActionNormalDarkest);
  --gsColorActionFocusFG: var(--gsThemeAccent);
  --gsColorActionDisabledFG: var(--gsThemeBlackFader);
  --gsColorActionPrimaryBG: var(--gsThemeActionNormalLight);
  --gsColorActionPrimaryFG: var(--gsThemeBlack);
  --gsColorActionPrimaryFocusBG: var(--gsThemeAccent);
  --gsColorActionPrimaryFocusFG: var(--gsThemeBlackOnAccent);
  --gsColorActionPrimaryDisabledBG: var(--gsThemeBaseReversedLightest);
  --gsColorActionPrimaryDisabledFG: var(--gsThemeBlackFade);
  --gsColorReverseMode: false;
  --gsColorHighlightMode: true;
}
