a, .gs-action {
  color: var(--gsColorActionFG);
  font-weight: var(--gsFontWeightBold);
  text-decoration: none;
}

a:hover, .gs-action:hover {
  color: var(--gsColorActionFocusFG);
  cursor: pointer;
}

a[disabled], .gs-action[disabled] {
  color: var(--gsColorActionDisabledFG);
  cursor: default;
}

h1 {
  font-size: 3rem;
  font-weight: var(--gsFontWeightLight);
}

h2 {
  font-size: 2rem;
  font-weight: var(--gsFontWeightNormal);
}

h3 {
  font-size: 1.5rem;
}

code {
  background-color: var(--gsColorPassivePrimaryBG);
  border-radius: .4rem;
  font-family: 'Ubuntu Mono', monospace;
  padding: 2 .2rem;
}

.gs-theme-normal,
.gs-theme-normal-hilite,
.gs-theme-invert,
.gs-theme-invert-hilite {
  --gsColorAccent: var(--gsThemeAccent);

  color: var(--gsColorPassiveFG);
  background-color: var(--gsColorPassiveBG);
}

.gs-secondary {
  color: var(--gsColorSecondaryFG);
}

.gs-theme-normal {
  --gsColorPassiveBG: var(--gsThemeWhite);
  --gsColorPassiveFG: var(--gsThemeBlack);
  --gsColorPassivePrimaryBG: var(--gsThemeNormalFFFF);
  --gsColorSecondaryFG: var(--gsThemeBlackFFF);
  --gsColorActionBG: var(--gsThemeWhite);
  --gsColorActionFG: var(--gsThemeDark);
  --gsColorActionFocusFG: var(--gsThemeAccent);
  --gsColorActionDisabledFG: var(--gsThemeBlackFFF);
  --gsColorActionPrimaryBG: var(--gsThemeNormal);
  --gsColorActionPrimaryFG: var(--gsThemeWhite);
  --gsColorActionPrimaryFocusFG: var(--gsThemeAccent);
  --gsColorActionPrimaryDisabledBG: var(--gsThemeWhite);
  --gsColorActionPrimaryDisabledFG: var(--gsThemeBlackFFF);
}

.gs-theme-normal-hilite {
  --gsColorPassiveBG: var(--gsThemeNormal);
  --gsColorPassiveFG: var(--gsThemeWhite);
  --gsColorPassivePrimaryBG: var(--gsThemeBlackFFFF);
  --gsColorSecondaryFG: var(--gsThemeWhiteFF);
  --gsColorActionBG: var(--gsThemeNormal);
  --gsColorActionFG: var(--gsThemeWhite);
  --gsColorActionFocusFG: var(--gsThemeAccent);
  --gsColorActionDisabledFG: var(--gsThemeWhiteFF);
  --gsColorActionPrimaryBG: var(--gsThemeWhite);
  --gsColorActionPrimaryFG: var(--gsThemeDark);
  --gsColorActionPrimaryFocusFG: var(--gsThemeAccent);
  --gsColorActionPrimaryDisabledBG: var(--gsThemeNormal);
  --gsColorActionPrimaryDisabledFG: var(--gsThemeWhiteFF);
}

.gs-theme-invert {
  --gsColorPassiveBG: var(--gsThemeBlack);
  --gsColorPassiveFG: var(--gsThemeWhite);
  --gsColorPassivePrimaryBG: var(--gsThemeLightFFF);
  --gsColorSecondaryFG: var(--gsThemeWhiteFF);
  --gsColorActionBG: var(--gsThemeBlack);
  --gsColorActionFG: var(--gsThemeLight);
  --gsColorActionFocusFG: var(--gsThemeAccent);
  --gsColorActionDisabledFG: var(--gsThemeWhiteFF);
  --gsColorActionPrimaryBG: var(--gsThemeLight);
  --gsColorActionPrimaryFG: var(--gsThemeBlack);
  --gsColorActionPrimaryFocusFG: var(--gsThemeAccent);
  --gsColorActionPrimaryDisabledBG: var(--gsThemeBlack);
  --gsColorActionPrimaryDisabledFG: var(--gsThemeWhiteFF);
}

.gs-theme-invert-hilite {
  --gsColorPassiveBG: var(--gsThemeLight);
  --gsColorPassiveFG: var(--gsThemeBlack);
  --gsColorPassivePrimaryBG: var(--gsThemeWhiteFFF);
  --gsColorSecondaryFG: var(--gsThemeBlackFF);
  --gsColorActionBG: var(--gsThemeLight);
  --gsColorActionFG: var(--gsThemeBlack);
  --gsColorActionFocusFG: var(--gsThemeAccent);
  --gsColorActionDisabledFG: var(--gsThemeBlackFFF);
  --gsColorActionPrimaryBG: var(--gsThemeBlack);
  --gsColorActionPrimaryFG: var(--gsThemeLight);
  --gsColorActionPrimaryFocusFG: var(--gsThemeAccent);
  --gsColorActionPrimaryDisabledBG: var(--gsThemeLight);
  --gsColorActionPrimaryDisabledFG: var(--gsThemeBlackFF);
}
