a, .gs-action {
  color: var(--gsColorActionFG);
  font-weight: 700;
  text-decoration: none;
}

a:hover, .gs-action:hover {
  color: var(--gsColorActionFocusFG);
  cursor: pointer;
}

a[disabled], .gs-action[disabled] {
  color: var(--gsColorActionDisabledFG);
  cursor: default;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
}

code {
  background-color: var(--gsColorPassivePrimaryBG);
  border-radius: .4rem;
  font-family: 'Ubuntu Mono', monospace;
  padding: 2 .2rem;
}

.gs-theme-normal,
.gs-theme-normal-hilite,
.gs-theme-invert,
.gs-theme-invert-hilite {
  --gsColorAccent: var(--gsThemeAccent);

  color: var(--gsColorPassiveFG);
  background-color: var(--gsColorPassiveBG);
}

.gs-secondary {
  color: var(--gsColorSecondaryFG);
}

.gs-theme-normal {
  --gsColorPassiveBG: var(--gsThemeWhite);
  --gsColorPassiveFG: var(--gsThemeBlack);
  --gsColorPassivePrimaryBG: var(--gsThemeNormalFFFF);
  --gsColorSecondaryFG: var(--gsThemeBlackFFF);
  --gsColorActionBG: var(--gsThemeWhite);
  --gsColorActionFG: var(--gsThemeDark);
  --gsColorActionFocusFG: var(--gsThemeAccent);
  --gsColorActionDisabledFG: var(--gsThemeBlackFFF);
}

.gs-theme-normal-hilite {
  --gsColorPassiveBG: var(--gsThemeNormal);
  --gsColorPassiveFG: var(--gsThemeWhite);
  --gsColorPassivePrimaryBG: var(--gsThemeBlackFFFF);
  --gsColorSecondaryFG: var(--gsThemeWhiteFF);
  --gsColorActionBG: var(--gsThemeNormal);
  --gsColorActionFG: var(--gsThemeWhiteF);
  --gsColorActionFocusFG: var(--gsThemeAccent);
  --gsColorActionDisabledFG: var(--gsThemeWhiteFF);
}

.gs-theme-invert {
  --gsColorPassiveBG: var(--gsThemeBlack);
  --gsColorPassiveFG: var(--gsThemeWhite);
  --gsColorPassivePrimaryBG: var(--gsThemeLightFFF);
  --gsColorSecondaryFG: var(--gsThemeWhiteFF);
  --gsColorActionBG: var(--gsThemeBlack);
  --gsColorActionFG: var(--gsThemeLight);
  --gsColorActionFocusFG: var(--gsThemeAccent);
  --gsColorActionDisabledFG: var(--gsThemeWhiteFF);
}

.gs-theme-invert-hilite {
  --gsColorPassiveBG: var(--gsThemeLight);
  --gsColorPassiveFG: var(--gsThemeBlack);
  --gsColorPassivePrimaryBG: var(--gsThemeWhiteFFF);
  --gsColorSecondaryFG: var(--gsThemeBlackFF);
  --gsColorActionBG: var(--gsThemeLight);
  --gsColorActionFG: var(--gsThemeBlackFF);
  --gsColorActionFocusFG: var(--gsThemeAccent);
  --gsColorActionDisabledFG: var(--gsThemeBlackFFF);
}





/* Normal theme */
/*.gs-theme-normal {
  --gsColorBackground: var(--gsThemeSecondary);
  --gsColorForeground: var(--gsThemePrimary);
  --gsColorAccent: var(--gsThemeAccent);

  --gsColorPropBackground: var(--gsThemeSecondary);
  --gsColorPropForeground: var(--gsThemePrimary);
  --gsColorPropHiliteBackground: var(--gsThemeNormal);
  --gsColorPropHiliteForeground: var(--gsThemeSecondary);

  color: var(--gsColorForeground);
  background-color: var(--gsColorBackground);
}

.gs-theme-normal a,
a.gs-theme-normal,
.gs-theme-normal.gs-action,
.gs-theme-normal .gs-action {
  --gsColorForeground: var(--gsThemeDark);
}

.gs-theme-normal a[disabled],
a.gs-theme-normal[disabled] {
  --gsColorForeground: var(--gsThemePrimaryFade);
}

.gs-theme-normal a:not([disabled]):focus,
.gs-theme-normal a:not([disabled]):hover,
a.gs-theme-normal:not([disabled]):focus,
a.gs-theme-normal:not([disabled]):hover {
  --gsColorForeground: var(--gsColorAccent);
}*/

/* Highlighted theme */
/*.gs-hilite {
  --gsColorBackground: var(--gsColorPropHiliteBackground);
  --gsColorForeground: var(--gsColorPropHiliteForeground);

  --gsColorPropBackground: var(--gsColorPropHiliteBackground);
  --gsColorPropForeground: var(--gsColorPropHiliteForeground);
  --gsColorPropHiliteBackground: var(--gsColorPropBackground);
  --gsColorPropHiliteForeground: var(--gsThemeSecondary);

  color: var(--gsColorForeground);
  background-color: var(--gsColorBackground);
}*/

/** Inverted Theme */
/*.gs-theme-invert {
  --gsColorBackground: var(--gsThemePrimary);
  --gsColorForeground: var(--gsThemeSecondary);
  --gsColorAccent: var(--gsThemeAccent);

  color: var(--gsColorForeground);
  background-color: var(--gsColorBackground);
}

.gs-theme-invert a,
a.gs-theme-invert {
  --gsColorForegroundParent: var(--gsColorForeground);
  --gsColorForeground: var(--gsThemeLight);
}

.gs-theme-invert a:not([disabled]):focus,
.gs-theme-invert a:not([disabled]):hover,
a.gs-theme-invert:not([disabled]):focus,
a.gs-theme-invert:not([disabled]):hover {
  --gsColorForegroundParent: var(--gsColorForeground);
  --gsColorForeground: var(--gsColorAccent);
}*/

/* Highlighted inverted theme */
/*.gs-theme-invert.gs-hilite,
.gs-theme-invert .gs-hilite {
  --gsColorBackground: var(--gsThemeLight);
  --gsColorForeground: var(--gsThemePrimary);

  color: var(--gsColorForeground);
  background-color: var(--gsColorBackground);
}

.gs-theme-invert.gs-hilite a,
.gs-theme-invert .gs-hilite a,
a.gs-theme-invert.gs-hilite,
.gs-theme-invert a.gs-hilite {
  --gsColorForegroundParent: var(--gsColorForeground);
  --gsColorForeground: var(--gsThemePrimary);
}*/


/*
// Themed styles.
.gs-theme-normal {
  --gsColorBackground: var(--gsThemeSecondary);
  --gsColorBackgroundMask: transparent;
  --gsColorForeground: var(--gsThemePrimary);
  --gsColorForegroundRoot: var(--gsColorForeground);
  --gsColorAccent: var(--gsThemeAccent);

  &.gs-secondary,
  .gs-secondary {
    --gsColorForeground: rgba(0,0,0,.54);
  }

  &.gs-action,
  .gs-action,
  a {
    &.gs-primary {
      --gsColorBackground: rgba(22,22,22,.99);
      --gsColorForeground: #fff;

      &[disabled] {
        --gsColorBackground: #fff;
        --gsColorForeground: rgba(0,0,0,.54);
      }

      &:not([disabled]) {
        &:focus,
        &:hover {
          --gsColorForeground: var(--gsColorAccent);
        }
      }
    }
  }

  &.gs-hilite,
  .gs-hilite {
    --gsColorBackground: rgba(22,22,22,.99);
    --gsColorForeground: #fff;
    color: var(--gsColorForeground);
    background-color: var(--gsColorBackground);

    &.gs-secondary,
    .gs-secondary {
      --gsColorForeground: rgba(255,255,255,.75);
    }

    &.gs-action,
    .gs-action,
    a {
      --gsColorForeground: #fff;
      --gsColorForegroundRoot: #fff;

      &[disabled] {
        --gsColorForeground: rgba(255,255,255,.62);
      }

      &:not([disabled]) {
        &:focus,
        &:hover {
          --gsColorForeground: var(--gsColorAccent);
        }
      }

      &.gs-primary {
        --gsColorBackground: #fff;
        --gsColorForeground: rgba(11,11,11,.99);

        &[disabled] {
          --gsColorBackground: rgba(22,22,22,.99);
          --gsColorForeground: rgba(255,255,255,.62);
        }

        &:not([disabled]) {
          &:focus,
          &:hover {
            --gsColorForeground: var(--gsColorAccent);
          }
        }
      }
    }
  }
}

.gs-theme-invert {
  --gsColorAccent: rgba(44,44,44,.99);
  --gsColorBackground: #000;
  --gsColorBackgroundMask: transparent;
  --gsColorForeground: #fff;
  --gsColorForegroundRoot: var(--gsColorForeground);
  color: var(--gsColorForeground);
  background-color: var(--gsColorBackground);

  &.gs-secondary,
  .gs-secondary {
    --gsColorForeground: rgba(255,255,255,.62);
  }

  &.gs-action,
  .gs-action,
  a {
    --gsColorForeground: rgba(33,33,33,.99);
    --gsColorForegroundRoot: rgba(33,33,33,.99);


    &[disabled] {
      --gsColorForeground: rgba(255,255,255,.62);
    }

    &:not([disabled]) {
      &:focus,
      &:hover {
        --gsColorForeground: var(--gsColorAccent);
      }
    }

    &.gs-primary {
      --gsColorBackground: rgba(33,33,33,.99);
      --gsColorForeground: #000;

      &[disabled] {
        --gsColorBackground: #000;
        --gsColorForeground: rgba(255,255,255,.62);
      }

      &:not([disabled]) {
        &:focus,
        &:hover {
          --gsColorForeground: var(--gsColorAccent);
        }
      }
    }
  }

  &.gs-hilite,
  .gs-hilite {
    --gsColorBackground: rgba(33,33,33,.99);
    --gsColorForeground: #000;
    --gsColorForegroundRoot: var(--gsColorForeground);

    &.gs-secondary,
    .gs-secondary {
      --gsColorForeground: rgba(0,0,0,.62);
    }

    &.gs-action,
    .gs-action,
    a {
      --gsColorForeground: #000;
      --gsColorForegroundRoot: #000;

      &[disabled] {
        --gsColorForeground: rgba(0,0,0,.62);
      }

      &:not([disabled]) {
        &:focus,
        &:hover {
          --gsColorForeground: var(--gsColorAccent);
        }
      }

      &.gs-primary {
        --gsColorBackground: #000;
        --gsColorForeground: rgba(33,33,33,.99);

        &[disabled] {
          --gsColorBackground: rgba(33,33,33,.99);
          --gsColorForeground: rgba(0,0,0,.62);
        }

        &:not([disabled]) {
          &:focus,
          &:hover {
            --gsColorForeground: var(--gsColorAccent);
          }
        }
      }
    }
  }
}
*/