/*
  ThemeD: rgba(11,11,11
  Theme: rgba(22,22,22
  ThemeL: rgba(33,33,33
  Accent: rgba(44,44,44
  1 rem = 16px
*/
@import 'https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400i,700,700i|Ubuntu:300,400,700';
@import '//cdn.jsdelivr.net/font-hack/2.020/css/hack-extended.min.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

/* General, non themed styles */
body {
  font-family: var(--gsFontFamily);
  font-size: var(--gsFontSizeRoot);
  line-height: var(--gsLineHeight);
  margin: 0;

  --gsFontFamily: 'Ubuntu', sans-serif;
  --gsFontFamilyCode: 'Ubuntu Mono', monospace;
  --gsFontSizeRoot: 13px;
  --gsLineHeight: 24px;
  --gsZIndexMenuBackdrop: 100;
  --gsBoxShadowAbove: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12);

  --gsFontWeightBold: 700;
  --gsFontWeightNormal: 400;
  --gsFontWeightLight: 300;

  --gsThemeWhite: #fff;
  --gsThemeBlack: #000;
}
